# IDE Specific - VS Code, IntelliJ Idea
.vscode
.idea
*.iml

# Operating System Specific - macOS
.DS_Store

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
**/bin/

# Python virtual environment
solutions-py/dev